name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # Se ejecutar치 cuando hagas push en main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 游 Clonar repositorio
        uses: actions/checkout@v4

      - name: 游 Configurar GitHub Pages
        uses: actions/configure-pages@v4

      - name: 游 Subir archivos a `gh-pages`
        uses: actions/upload-pages-artifact@v2  # Usa la versi칩n actualizada
        with:
          path: .

      - name: 游닋 Desplegar en GitHub Pages
        uses: actions/deploy-pages@v3  # Asegura la versi칩n m치s reciente
name: Deploy a GitHub Pages

on:
  push:
    branches:
      - main  # Se ejecutar치 cuando hagas push en main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 游 Clonar repositorio
        uses: actions/checkout@v4


      - name: 游 Subir archivos a `gh-pages`
        uses: actions/upload-pages-artifact@v1
        with:
          path: .

      - name: 游닋 Desplegar en GitHub Pages
        uses: actions/deploy-pages@v2

